.center{
    width: 80%;
    height: 560px;
//background: #98FB98;
    margin: 0 auto;
    border: 1px solid #403f3f;
    border-radius: 15px;
}
.writerBook .baocun{
    margin-left: 80px;
}
.writerBook{
    width: 400px;
    height: 400px;
    background: #9aa6d8;
    font-size: 25px;
    float: left;
}
.writerBook input{
    width: 200px;
    height: 30px;
    margin-top: 30px;
}
.writerBook select{
    width: 200px;
    height: 30px;
    margin-top: 30px;
}
.bianji{
    width: 815px;
    height: 400px;
    background: #b5edb3;
    float: right;
    overflow:scroll;
}
.bianji::-webkit-scrollbar {
    display: none;/*隐藏滚动条*/
}
.bianji p{
    width: 815px;
    height: 400px;
    font-size: 16px;
}
.title_1{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 70px;
}
.updateMyBook{
    width: 80%;
    height: 800px;
//background: #98FB98;
    margin: 30px auto;
    font-size: 25px;
    border: 1px solid #403f3f;
    border-radius: 15px;
}
.updateMyBook input{
    width: 200px;
    height: 30px;
    border: 1px solid #403f3f;
}
.update{
    margin-top: 30px ;
    width: 100%;
    height: 530px;
    background: #b5edb3;
    overflow:scroll;
}
.update::-webkit-scrollbar {
    display: none;/*隐藏滚动条*/
}
.update p{
    font-size: 18px;
    width: 100%;
    height: 580px;
}
.updateMyBook .button_serch{
    width: 150px;
    height: 30px;
    float: right;
}